@font-face {
  font-family: "iconfont";
  /* Project id 3361454 */
  src: url('//at.alicdn.com/t/font_3361454_9tkfhntaz9k.woff2?t=1652941519854') format('woff2'),
    url('//at.alicdn.com/t/font_3361454_9tkfhntaz9k.woff?t=1652941519854') format('woff'),
    url('//at.alicdn.com/t/font_3361454_9tkfhntaz9k.ttf?t=1652941519854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-segi-icon-download:before {
  content: "\e67c";
}

.icon-guanbi:before {
  content: "\e61b";
}

.icon-jiandao:before {
  content: "\e632";
}

.icon-xiaolian:before {
  content: "\ec80";
}

.icon-jiandao1:before {
  content: "\e673";
}

.icon-a-gaoxinghaoxinqingbiaoqingxihuanbiaoqingxiaolian:before {
  content: "\e743";
}

.icon-zans:before {
  content: "\e719";
}

.icon-gengduo:before {
  content: "\e88b";
}

.icon-shouqi:before {
  content: "\e642";
}

.icon-buzan:before {
  content: "\e63d";
}

.icon-icon_sent:before {
  content: "\e60c";
}

.icon-jinggao:before {
  content: "\e616";
}

.icon-chenggong:before {
  content: "\e671";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-chengbao-xian:before {
  content: "\e82c";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-a-yinlebofangliebiaoyinle:before {
  content: "\e787";
}

.icon-facebookfacebook52:before {
  content: "\e606";
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-weibo:before {
  content: "\e64b";
}

.icon-weixin1:before {
  content: "\e631";
}

.icon-weibo1:before {
  content: "\e6b2";
}

.icon-in:before {
  content: "\e60d";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-in1:before {
  content: "\e64d";
}

.icon-ins:before {
  content: "\e664";
}

.icon-facebookfacebook51:before {
  content: "\e604";
}